* {

    margin: 0;
}

.navbar-brand {
    font-family: 'Lobster Two', cursive;
    font-size: 1.5em;
    font-weight: bold;
}

nav {
    background: linear-gradient(to right, #0331DD, #6425DC);
}

#con {
    width: 100%;
    margin: 20px, 0;
    background: url(https://source.unsplash.com/400x400/?festival,diwali);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: bottom;
}

form {
    margin: auto;
    background: linear-gradient(to bottom left, #236AFF, #2E92F7, #7ABDFF, #BBDDFF, #E7F3FF, #FFFFFF);

    padding: 2em;
}

footer {
    background: #CBF9FF;
}

#link {
    width: 90%;
    padding: 10px;
    margin: 20px auto;
    background: linear-gradient(to top left, #FF573E, #FFE93B, #FFF49C, #FFFBD9, #FFFBE2, #FFFFFF);
    overflow: auto;
    border: 1px solid #FF0000;

}

/*#link i{
    font-size: 3em;
    color:#29E918;
     background: #FFFFFF;
     padding: 0;
}*/