body {
    font-size: 15pt;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: bottom;
}

#box {
   
    text-align: center;
    display: none;
    border: 2px solid #F50000;
    background: linear-gradient(to right,#FFFFFFC2,#FFFFFF00) ,url(imeges.jpeg);
    background-repeat: no-repeat;
    background-position: right;
}

#screen {
    text-align: center;
    height: 100vh;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#box h1 {
    font-family: "Galada";
    font-size: 40px;
    font-weight:bold;
    color: #EDC7C700;
    background: linear-gradient(to right, #fec200, #f78608, #ee3711, #e6172f, #d20983, #c301c5);
    -webkit-background-clip: text;

}

h5 {
    font-family: 'big shoulders inline text';
    font-size: 30px;
}

h2 {
    font-family: 'El Messiri', sans-serif;
}

#ani{

  margin-top: 0;
  background: #B9BFFF;
  display: none;
    
}

.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 15em;
    background: #FD4392;
    margin: 0;
    padding-top: 0;
   font-family: "Bangers";
}

.ml4 .letters {
    margin-top: 0;
    padding-top: 0;
    position: absolute;
    margin: auto;
    top: 10px;
    left: -0.5em;
    opacity: 0;
    background: #7E274C;
    bottom:1.5em;
    right: 0;
    color: #970808;
}
#deco1{
    position: relative;
    margin: 0;
}
#small{
    position: fixed;
    margin-top: 135%;
    text-align: center;
    display: none;
}
#screen span{
    position: fixed;
    margin-top: 100px;
    color:#3954E9;
    font-weight: bold;
}
